@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background-color: #0d0d0d;
    --logo-color: #595959;
    --title-primary: #262626;
    --title-primary-dark: #d9d0c7;
    --button-color: #f2bf5e;
    --paragraph-color: #595959;
    --paper-color: #262626;
  }
}

body {
  font-family: "Inter", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
